

 
 @font-face 
 {font-family: 'Bonfire Free';
  src: url("/CSS/extracted-fonts/Bonfire Free.ttf") format('truetype');
  }

 @font-face 
 {font-family: 'Bregoria Signature';
  src: url("/CSS/extracted-fonts/Bregoria Signature.ttf") format('truetype');
  }
  
 @font-face 
 {font-family: 'GUNECTRIAL-Regular';
  src: url("/CSS/extracted-fonts/GUNECTRIAL-Regular.ttf") format('truetype');
  }

 @font-face 
 {font-family: 'GUNECTRIAL-Variation';
  src: url("/CSS/extracted-fonts/GUNECTRIAL-Variation.ttf") format('truetype');
  }

 @font-face 
 {font-family: 'KFGQPC Uthman Taha Naskh Regular';
  src: url("/CSS/extracted-fonts/KFGQPC Uthman Taha Naskh Regular.ttf") format('truetype');
  }

  
 @font-face 
 {font-family: 'Khalifa';
  src: url("/CSS/extracted-fonts/Khalifa.ttf") format('truetype');
  }